<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint address ="http://localhost:8080/HelloWorldService"
					  binding ="wsHttpBinding"
					  contract ="ClientIHelloService.IHelloWorldService">

			</endpoint>
		</client>
	</system.serviceModel>

</configuration>