<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ECube.AccrualProcessor.Properties.Settings.mesquiteConnectionString"
            connectionString="Data Source=PANTHER-PC;Initial Catalog=mesquite;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>